body {
    background-color: #000000;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

table {
    margin: 20px;
    padding: 10px;
    border: 3px solid #ff0000;
    border-radius: 8px;
}

tr {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

button:hover {
    background-color: #ff0015;
}

input[type] {
    border: 2px solid #ff0015;
    background-color: #f8fafc;
}

ol {
    li {
        color: #00ff94;
    }
}

ul > li {
    font-weight: bold;
}

p + input {
    margin-top: 10px;
}