body {
    background-color: #801010;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

table {
    margin: 20px;
    padding: 10px;
    border: 3px solid #00fff8;
    border-radius: 8px;
}

tr {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

button:hover {
    background-color: #1aff00;
}

input[type] {
    border: 2px solid #dd00ff;
    background-color: #ffc200;
}

ol {
    li {
        color: #00ff94;
    }
}

ul > li {
    font-weight: bold;
}

p + input {
    margin-top: 10px;
}